html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    background: linear-gradient(#333, #999);
    height: 100vh;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1 {
    text-align: center;
    letter-spacing: -1px;
    /* Position absolute prevents text inferferes with bouncy balls. */
    position: absolute;
    /* top&right moves text to the top right of page */
    top: -4px;
    right: 5px;
    /* heading is now invisible but can be highlighted */
    color: transparent;
    /* x-axis, y-axis, blur-radius, color   */
    text-shadow: 0 0 4px #999;
}

body {
    height: inherit;
    /* Hides element content outside the body*/
    overflow: hidden; 
}